<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clouds.igankong.mapper.InfectionHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.clouds.igankong.po.InfectionHistory" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="infe_name" property="infeName" jdbcType="VARCHAR" />
    <result column="infe_result" property="infeResult" jdbcType="VARCHAR" />
    <result column="vaccine_status" property="vaccineStatus" jdbcType="VARCHAR" />
    <result column="vaccine_num" property="vaccineNum" jdbcType="VARCHAR" />
    <result column="infe_openID" property="infeOpenid" jdbcType="VARCHAR" />
    <result column="infe_userid" property="infeUserid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, infe_name, infe_result, vaccine_status, vaccine_num, infe_openID, infe_userid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.clouds.igankong.po.InfectionHistoryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from infection_history
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from infection_history
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from infection_history
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.clouds.igankong.po.InfectionHistoryExample" >
    delete from infection_history
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.clouds.igankong.po.InfectionHistory" >
    insert into infection_history (ID, infe_name, infe_result, 
      vaccine_status, vaccine_num, infe_openID, 
      infe_userid)
    values (#{id,jdbcType=INTEGER}, #{infeName,jdbcType=VARCHAR}, #{infeResult,jdbcType=VARCHAR}, 
      #{vaccineStatus,jdbcType=VARCHAR}, #{vaccineNum,jdbcType=VARCHAR}, #{infeOpenid,jdbcType=VARCHAR}, 
      #{infeUserid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.clouds.igankong.po.InfectionHistory" >
    insert into infection_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="infeName != null" >
        infe_name,
      </if>
      <if test="infeResult != null" >
        infe_result,
      </if>
      <if test="vaccineStatus != null" >
        vaccine_status,
      </if>
      <if test="vaccineNum != null" >
        vaccine_num,
      </if>
      <if test="infeOpenid != null" >
        infe_openID,
      </if>
      <if test="infeUserid != null" >
        infe_userid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="infeName != null" >
        #{infeName,jdbcType=VARCHAR},
      </if>
      <if test="infeResult != null" >
        #{infeResult,jdbcType=VARCHAR},
      </if>
      <if test="vaccineStatus != null" >
        #{vaccineStatus,jdbcType=VARCHAR},
      </if>
      <if test="vaccineNum != null" >
        #{vaccineNum,jdbcType=VARCHAR},
      </if>
      <if test="infeOpenid != null" >
        #{infeOpenid,jdbcType=VARCHAR},
      </if>
      <if test="infeUserid != null" >
        #{infeUserid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.clouds.igankong.po.InfectionHistoryExample" resultType="java.lang.Integer" >
    select count(*) from infection_history
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update infection_history
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.infeName != null" >
        infe_name = #{record.infeName,jdbcType=VARCHAR},
      </if>
      <if test="record.infeResult != null" >
        infe_result = #{record.infeResult,jdbcType=VARCHAR},
      </if>
      <if test="record.vaccineStatus != null" >
        vaccine_status = #{record.vaccineStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.vaccineNum != null" >
        vaccine_num = #{record.vaccineNum,jdbcType=VARCHAR},
      </if>
      <if test="record.infeOpenid != null" >
        infe_openID = #{record.infeOpenid,jdbcType=VARCHAR},
      </if>
      <if test="record.infeUserid != null" >
        infe_userid = #{record.infeUserid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update infection_history
    set ID = #{record.id,jdbcType=INTEGER},
      infe_name = #{record.infeName,jdbcType=VARCHAR},
      infe_result = #{record.infeResult,jdbcType=VARCHAR},
      vaccine_status = #{record.vaccineStatus,jdbcType=VARCHAR},
      vaccine_num = #{record.vaccineNum,jdbcType=VARCHAR},
      infe_openID = #{record.infeOpenid,jdbcType=VARCHAR},
      infe_userid = #{record.infeUserid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.clouds.igankong.po.InfectionHistory" >
    update infection_history
    <set >
      <if test="infeName != null" >
        infe_name = #{infeName,jdbcType=VARCHAR},
      </if>
      <if test="infeResult != null" >
        infe_result = #{infeResult,jdbcType=VARCHAR},
      </if>
      <if test="vaccineStatus != null" >
        vaccine_status = #{vaccineStatus,jdbcType=VARCHAR},
      </if>
      <if test="vaccineNum != null" >
        vaccine_num = #{vaccineNum,jdbcType=VARCHAR},
      </if>
      <if test="infeOpenid != null" >
        infe_openID = #{infeOpenid,jdbcType=VARCHAR},
      </if>
      <if test="infeUserid != null" >
        infe_userid = #{infeUserid,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.clouds.igankong.po.InfectionHistory" >
    update infection_history
    set infe_name = #{infeName,jdbcType=VARCHAR},
      infe_result = #{infeResult,jdbcType=VARCHAR},
      vaccine_status = #{vaccineStatus,jdbcType=VARCHAR},
      vaccine_num = #{vaccineNum,jdbcType=VARCHAR},
      infe_openID = #{infeOpenid,jdbcType=VARCHAR},
      infe_userid = #{infeUserid,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>