<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clouds.igankong.mapper.NoticeMapper" >
  <resultMap id="BaseResultMap" type="com.clouds.igankong.po.Notice" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="n_department" property="nDepartment" jdbcType="VARCHAR" />
    <result column="n_scope" property="nScope" jdbcType="VARCHAR" />
    <result column="n_send_time" property="nSendTime" jdbcType="VARCHAR" />
    <result column="n_sender" property="nSender" jdbcType="VARCHAR" />
    <result column="n_sender_openID" property="nSenderOpenid" jdbcType="VARCHAR" />
    <result column="n_content" property="nContent" jdbcType="VARCHAR" />
    <result column="n_sender_userid" property="nSenderUserid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, n_department, n_scope, n_send_time, n_sender, n_sender_openID, n_content, n_sender_userid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.clouds.igankong.po.NoticeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from notice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from notice
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from notice
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.clouds.igankong.po.NoticeExample" >
    delete from notice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.clouds.igankong.po.Notice" >
    insert into notice (ID, n_department, n_scope, 
      n_send_time, n_sender, n_sender_openID, 
      n_content, n_sender_userid)
    values (#{id,jdbcType=INTEGER}, #{nDepartment,jdbcType=VARCHAR}, #{nScope,jdbcType=VARCHAR}, 
      #{nSendTime,jdbcType=VARCHAR}, #{nSender,jdbcType=VARCHAR}, #{nSenderOpenid,jdbcType=VARCHAR}, 
      #{nContent,jdbcType=VARCHAR}, #{nSenderUserid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.clouds.igankong.po.Notice" >
    insert into notice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="nDepartment != null" >
        n_department,
      </if>
      <if test="nScope != null" >
        n_scope,
      </if>
      <if test="nSendTime != null" >
        n_send_time,
      </if>
      <if test="nSender != null" >
        n_sender,
      </if>
      <if test="nSenderOpenid != null" >
        n_sender_openID,
      </if>
      <if test="nContent != null" >
        n_content,
      </if>
      <if test="nSenderUserid != null" >
        n_sender_userid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nDepartment != null" >
        #{nDepartment,jdbcType=VARCHAR},
      </if>
      <if test="nScope != null" >
        #{nScope,jdbcType=VARCHAR},
      </if>
      <if test="nSendTime != null" >
        #{nSendTime,jdbcType=VARCHAR},
      </if>
      <if test="nSender != null" >
        #{nSender,jdbcType=VARCHAR},
      </if>
      <if test="nSenderOpenid != null" >
        #{nSenderOpenid,jdbcType=VARCHAR},
      </if>
      <if test="nContent != null" >
        #{nContent,jdbcType=VARCHAR},
      </if>
      <if test="nSenderUserid != null" >
        #{nSenderUserid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.clouds.igankong.po.NoticeExample" resultType="java.lang.Integer" >
    select count(*) from notice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update notice
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.nDepartment != null" >
        n_department = #{record.nDepartment,jdbcType=VARCHAR},
      </if>
      <if test="record.nScope != null" >
        n_scope = #{record.nScope,jdbcType=VARCHAR},
      </if>
      <if test="record.nSendTime != null" >
        n_send_time = #{record.nSendTime,jdbcType=VARCHAR},
      </if>
      <if test="record.nSender != null" >
        n_sender = #{record.nSender,jdbcType=VARCHAR},
      </if>
      <if test="record.nSenderOpenid != null" >
        n_sender_openID = #{record.nSenderOpenid,jdbcType=VARCHAR},
      </if>
      <if test="record.nContent != null" >
        n_content = #{record.nContent,jdbcType=VARCHAR},
      </if>
      <if test="record.nSenderUserid != null" >
        n_sender_userid = #{record.nSenderUserid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update notice
    set ID = #{record.id,jdbcType=INTEGER},
      n_department = #{record.nDepartment,jdbcType=VARCHAR},
      n_scope = #{record.nScope,jdbcType=VARCHAR},
      n_send_time = #{record.nSendTime,jdbcType=VARCHAR},
      n_sender = #{record.nSender,jdbcType=VARCHAR},
      n_sender_openID = #{record.nSenderOpenid,jdbcType=VARCHAR},
      n_content = #{record.nContent,jdbcType=VARCHAR},
      n_sender_userid = #{record.nSenderUserid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.clouds.igankong.po.Notice" >
    update notice
    <set >
      <if test="nDepartment != null" >
        n_department = #{nDepartment,jdbcType=VARCHAR},
      </if>
      <if test="nScope != null" >
        n_scope = #{nScope,jdbcType=VARCHAR},
      </if>
      <if test="nSendTime != null" >
        n_send_time = #{nSendTime,jdbcType=VARCHAR},
      </if>
      <if test="nSender != null" >
        n_sender = #{nSender,jdbcType=VARCHAR},
      </if>
      <if test="nSenderOpenid != null" >
        n_sender_openID = #{nSenderOpenid,jdbcType=VARCHAR},
      </if>
      <if test="nContent != null" >
        n_content = #{nContent,jdbcType=VARCHAR},
      </if>
      <if test="nSenderUserid != null" >
        n_sender_userid = #{nSenderUserid,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.clouds.igankong.po.Notice" >
    update notice
    set n_department = #{nDepartment,jdbcType=VARCHAR},
      n_scope = #{nScope,jdbcType=VARCHAR},
      n_send_time = #{nSendTime,jdbcType=VARCHAR},
      n_sender = #{nSender,jdbcType=VARCHAR},
      n_sender_openID = #{nSenderOpenid,jdbcType=VARCHAR},
      n_content = #{nContent,jdbcType=VARCHAR},
      n_sender_userid = #{nSenderUserid,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>